body {
    margin-top: 4rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0rem;
    padding: 0rem;
    background: white;
    color: black;
    font-family: cursive;
    font-style: normal;
    font-size: 1rem;
    word-break: break-word;
}
a[name] {
    scroll-margin-top: 4rem;
}

p {
    display: block;
    font-size: 1rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}
h1 {
    font-size: 2rem;
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
}
h2 {
    font-size: 1.5rem;
    margin-block-start: 1.245rem;
    margin-block-end: 1.245rem;
}
h3 {
    font-size: 1.17rem;
    margin-block-start: 1.17rem;
    margin-block-end: 1.17rem;
}
h4 {
    margin-block-start: 1.33rem;
    margin-block-end: 1.33rem;
}

pre, span.pre {
    font-family: monospace;
    white-space: pre-wrap;
    font-size: 1rem;
}
pre {
    margin-top: .1rem;
    margin-right: .1rem;
    word-wrap: break-word;
}
code, pre:has(code) {
    background-color:azure ;
}
pre code {
    margin-bottom: -1rem;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}
sup {
    vertical-align: super;
    font-size: smaller;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    font-size: 1rem;
    color: black;
    border-spacing: .2rem;
    border-color: gray;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
td {
    display: table-cell;
}

dt {
    font-weight: bold;
}
dt::after {
    content: ":";
}

.left {
    text-align: left;
    float: left;
}
.right {
    text-align: right;
    float: right;
}

a[href] {
    text-decoration: gray dotted underline;
    color: black;
}
a[rel=external][rel=noopener] {
    content: "x";
}

figure {
    width: fit-content;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: .1rem;
    margin-inline-end: .1rem;
    border: .1rem solid lightgrey;
    padding: 1rem;
    text-align: center;
}
figure img {
    text-align: center;
}
blockquote {
    margin: 0rem;
    border: 0rem;
    padding: 0rem;
    text-align: center;
    white-space: pre-line;
    /* this keeps existing line breaks, but ignores blanks for formatting */
}
q {
    quotes: '"' '"' "'" "'";
    display: inline;
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}
figcaption {
    text-align: center;
}

.incomplete {
    text-decoration: underline .01rem wavy red;
}

